In [21]:
import pandas as pd
from datetime import datetime
from pytz import timezone

In [22]:
columns = ['BOT NAME', 'PICKLE NAME', 'PICKLE PATH', 'LOG NAME', 'LOG PATH', 'DESCRIPTION']

In [23]:
df = pd.DataFrame(columns=columns)

In [24]:
len(df)

0

In [25]:
df

Empty DataFrame
Columns: [BOT NAME, PICKLE NAME, PICKLE PATH, LOG NAME, LOG PATH, DESCRIPTION]
Index: []

In [26]:

df.to_pickle('mbot_table.pkl')

In [27]:
df = pd.read_pickle('mbot_table.pkl')

In [28]:
df

Empty DataFrame
Columns: [BOT NAME, PICKLE NAME, PICKLE PATH, LOG NAME, LOG PATH, DESCRIPTION]
Index: []