In [1]:
import pandas as pd

In [2]:
columns = ['BOT NAME', 'PICKLE NAME', 'PICKLE PATH', 'LOG NAME', 'LOG PATH']

In [3]:
df = pd.DataFrame(columns=columns)

In [4]:
len(df)

0

In [5]:
df

Empty DataFrame
Columns: [BOT NAME, PICKLE NAME, PICKLE PATH, LOG NAME, LOG PATH]
Index: []

In [10]:
df.to_pickle('mbot_table_backup.pkl')

In [8]:
df = pd.read_pickle('mbot_table.pkl')

In [9]:
df

Empty DataFrame
Columns: [BOT NAME, PICKLE NAME, PICKLE PATH, LOG NAME, LOG PATH]
Index: []