In [36]:
import pandas as pd

In [37]:
columns = ['BOT NAME', 'PICKLE NAME', 'PICKLE PATH', 'LOG NAME', 'LOG PATH']

In [38]:
df = pd.DataFrame(columns=columns)

In [25]:
len(df)

0

In [13]:
df.loc[len(df)] = [ 'hello', 'meow', 'hello', 'meow', 'hello']

In [34]:
df

Empty DataFrame
Columns: [BOT NAME, PICKLE NAME, LOG NAME, LOG PATH, PICKLE PATH]
Index: []

In [39]:
df.to_pickle('mbot_table.pkl')

In [20]:
df = pd.read_pickle('pickle.test')

     BOT PICKLE    LOG LOG PATH PICKLE PATH
0  hello   meow  hello     meow       hello